<div class="panel panel-default">
  <div class="panel-heading">میز مدیریت</div>
  <div class="panel-body">
    <%= link_to "درج فیلم" , new_movie_path, :class => 'btn btn-info btn-xlarge',type: 'button' %>
  </div>
</div>



