  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <p class="panel-title"><%= JalaliDate.to_jalali(comment_time).strftime("%d %B %Y") %></p>
        <p class="panel-title"><%= comment_user_find(comment_user) %> کفته:  </p>
      </div>
      <div class="panel-body">
        <%= comment %>
      </div>
    </div>
  </div>
