/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'BYagut';
  src:url('BYagut.eot');
  src:url('BYagut.eot?#iefix') format('embedded-opentype'),
  url('BYagut.svg#icomoon') format('svg'),
  url('BYagut.woff') format('woff'),
  url('BYagut.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BYekan';
  src:url('BYekan.eot');
  src:url('BYekan.eot?#iefix') format('embedded-opentype'),
  url('BYekan.svg#icomoon') format('svg'),
  url('BYekan.woff') format('woff'),
  url('BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding-bottom: 70px;
  background-color: gainsboro;
  font-family: BYekan;
}

.btn-xlarge {
  padding: 36px 36px;
  font-size: 22px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.post-body {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: BYekan;
}
.post-header-div{
  background-color: lightskyblue;
  border-radius: 50px/15px;
}
.post-header{
  font-family: BYekan;
  text-shadow: 2px 2px 2px #CCCCCC;
}

.poster{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.custom-box {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #dadada;
  border-radius: 3px;
  margin-bottom: 50px;
  padding: 10px;
}
.post_create_date{
  color: red;
}